* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: hsl(0, 0%, 90%);
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 400px;
    align-items: center;
    margin-bottom: 10px;
    gap: 5px;
}

header .title {
    font-size: 50px;
}

header>button {
    width: 80px;
    cursor: pointer;
}

main {
    background-color: hsl(0, 0%, 90%);
    width: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

main h2 {
    text-align: center;
    margin-bottom: 10px;
}

main .book-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    gap: 8px;
    text-align: center;
    align-items: center;
    width: 50%;
    border-radius: 10px;
    border: 2px solid orange;
    height: 200px;
    padding: 10px;
    background-color: rgb(215, 127, 39);
    position: relative;
}

dialog {
    margin: auto;
    padding: 20px;
    border-radius: 20px;
}

dialog form {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
}

.delete-button {
    background-color: red;
    color: white;
    width: 60px;
    height: 20px;
    border-radius: 5px;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.read-status-button {
    background-color: blue;
    color: white;
    width: 80px;
    height: 20px;
    border-radius: 5px;
    cursor: pointer;
}